.list {
  width: 100%;
  margin-top: 50px;
}

.item {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 10px solid var(--dark-600);
  padding: 16px;
  box-shadow: 0px 4px 4px rgba(17, 17, 28, 0.6);
  cursor: pointer;
  color: var(--second-200);
  font-size: var(--size-18);
  text-transform: capitalize;
  opacity: 0;
  animation: active 2s linear forwards;
}

@keyframes active {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
