@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  --primary: #f25551;
  --green: #50f283;
  --second-100: #fffbff;
  --second-200: #feede1;
  --dark-600: #632329;
  --dark-700: #462730;
  --dark-800: #352432;
  --dark-900: #241722;
  --size-16: 16px;
  --size-18: 18px;
  --size-24: 24px;
  --regular: 400;
  --semiBold: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: -apple-system, "Poppins", Arial, Helvetica, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: var(--dark-900);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
}
